<h2>Home Page</h2>
<div>
 <h3>Sample Code</h3>
 <label for="customer-input">Type something:
  <input id="customer-input" #customerInput>{{customerInput.value}}
</label>
</div>
<div>
<a routerLink="/todo-list" routerLinkActive="active" ariaCurrentWhenActive="page">Todo List</a>&nbsp;
 <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Page</a>&nbsp;
  <a routerLink="/aboutus" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
</div>
<div>
<router-outlet></router-outlet>

</div>
